/* Body */
body {
  margin: 0;
  padding: 0;
  background-color: #202027;
}

/* Header */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f2f38;
  padding: 5px 30px;
  margin: 0px;
}
/* Left-Header */
.left {
  display: flex;
  align-items: center;
  gap: 60px;
}
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
}
.casino-title{
  font-size: 26px;
  font-weight: bold;
  font-family: "Lucida Handwriting";
  color: #ffd700;
}
nav{
  display: flex;
  gap: 50px;             
}
nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 10px;
}
.current{
  color: gold;
}

nav a:hover:not(.current){
  color: gold;
  transform: scale(1.1);
}
/* Right-Header */
.right {
  display: flex;
  gap: 20px;
}
.buttons{
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: 15px;
}
.register-button {
  border: 2px solid gold;
  background-color: #2f2f38;
  color: white;
}
.login-button {
  border: 2px solid gold;
  background-color: #2f2f38;
  color: white;
}
.buttons:hover {
  background-color: gold;
  color: #2f2f38;
}

/* Main */
main{
  color: white
}

div .ganadores .color-red{
  color: red;
}
.color-black{
  color: black;
}
.color-green{
  color: green;
}


form {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 30px;
  background: #111;
  color: #fff;
}

fieldset {
  border: 2px solid gold;   
  border-radius: 8px;
  margin-bottom: 20px;       
  padding: 15px;
}


legend {
  font-size: 20px;
  font-weight: bold;
  color: gold;              
  padding: 0 8px;
}

label {
  display: block;           
  margin-top: 12px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
  display: block;
  width: 550px;              
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #555;
  background: #222;          
  color: white;
  font-size: 16px;
}

input:focus {
  border-color: gold;
  outline: none;
  box-shadow: 0 0 6px gold; 
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: gold;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}