header h1 {
    font-family:"Luckiest Guy" ,cursive;
    color:gold;
    text-align: center;
}
img{
    image-rendering: auto;
}
header {
  background-color: #111;   
  text-align: center;
}

nav ul {
  list-style: none;       
  padding: 10px;
  margin: 10px 0 0 0;
  display: flex;            
  justify-content: center; 
  gap: 20px;                
}

nav a {
  color: white;          
  text-decoration: none;    
  font-weight: bold;        
  padding: 8px 12px;        
  transition: background 0.3s;
}

nav a:hover {
  background: gold;       
  color: black;             
}

